<!DOCTYPE html>
<html>
<head>
  <title>Adeaz Expense System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#F2F9FD;">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand">互众报销系统</a>
                <div class="nav-collapse">
                </div>

                <div class="brand" style="float:right;">
                    Hello!
                </div>
            </div>
        </div>
    </div>
    
    <div id="container" style="text-align:center; margin-top:200px; width: 100%">
        <%= yield %>
    </div>
    
    <footer style="text-align:center;">
        <p>Adeaz Expense System By Tech Department & Developed By Rails & Lucky on Ruby ^V^</p>
    </footer>
</body>
</html>
